<div class="container">
  <h2>Welcome! Here are your gardening entries:</h2>
  <div class="entries-container">
    <table>
      <tr class="entries-headers">
        <th>Date</th>
        <th>Entry</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Get Reminder</th>
      </tr>
      <% if @entries %>
      <% @entries.each do |entry| %>
      <tr class="entries-list">
        <td class="entry-date"><%= entry.date.to_date %></td>
        <td class="entry-title"><a href='/entries/<%= entry.id %>'><%= entry.title %></a></td>
        <td class="edit-entry"><a href='/entries/<%= entry.id %>/edit'>Edit</a></td>
        <td class="delete-entry"><a href='/entries/<%= entry.id %>/delete'>Delete</a></td>
        <td>
          <form id='reminder-button' method="POST" action="/reminders">
            <input type="hidden" name="reminder_freq" value="<%= entry.entry_type.reminder_freq %>">
            <input type="hidden" name="entry_date" value="<%= entry.created_at %>">
            <input type="hidden" name="entry_type_name" value="<%= entry.entry_type.name %>">
            <input type="submit" value="Reminder" class="button">
          </form>
        </td>
      <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<!-- remember to include forecast_data at bottom of page -->