<div class="container">
  <h2>Sign up to become a new user</h2>
<!--   <form method="POST" action="/users">
    <p><label for="first_name">First Name</label><input type="text" name="user[first_name]"></p>
    <p><label for="last_name">Last Name</label><input type="text" name="user[last_name]"></p>
    <p><label for="email">Email</label><input type="text" name="user[email]"></p>
    <p><label for="password">Password</label><input type="password" name="user[password]"></p>
    <p><label for="confirm_password">Confirm Password</label><input type="password" name="confirm_password"></p>
  <button type="submit">Submit</button>
  </form> -->

  <%= form_for :user, url: users_path, :html => { :method => 'POST' } do |f| %>
    <%= f.label "First Name" %><br>
    <%= f.text_field :first_name %><br>
    <%= f.label "Last Name" %><br>
    <%= f.text_field :last_name %><br>
    <%= f.label "Email" %><br>
    <%= f.text_field :email %><br>
    <%= f.label "Password" %><br>
    <%= f.password_field :password %><br>
    <%= f.label "Confirm Password" %><br>
    <%= f.password_field :confirm_password %><br>
    <%= f.submit "Login" %>
  <% end %>
</div>